<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jian.dao.ModuleDao">
    <!--    id就是方法名字-->
    <!--    Type是类型只有一个，Map是一个list-->

    <select id="getModuleId"  resultType="java.lang.Integer">
        SELECT student_id, student_module_link.module_id FROM (student_module_link JOIN module ON student_module_link.module_id = module.module_id) WHERE student_id = #{studentId} AND student_module_link.module_id = #{moduleId}
    </select>


    <insert id="addModule" useGeneratedKeys="true" keyColumn="module_id">
<!--        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="moduleId">-->
<!--            SELECT LAST_INSERT_ID()-->
<!--        </selectKey>-->
        insert into module(teacher_id, module_name, module_size) values (#{arg0},#{arg1},#{arg2})
    </insert>

    <select id="getModuleIdbyTeacher" resultType="String">
        select module_id from module where teacher_id=#{teacherId} and module_name=#{moduleName}
    </select>

    <insert id="addModuleStudent" parameterType="String">
        insert into student_module_link values (#{moduleId},#{studentId})
    </insert>

    <select id="getTask" resultType="java.lang.Integer">
        SELECT task_id FROM task_student_link JOIN (student JOIN student_module_link ON student.student_id = student_module_link.student_id) on task_student_link.student_id = student.student_id WHERE student.student_id = #{studentId} and student_module_link.module_id=#{moduleId}    </select>

    <select id="getModuleStudent" resultMap="ModuleResultMap">
        select * from module where module_id in (select module_id from student_module_link where student_id=#{studentId})
    </select>

    <resultMap id="ModuleResultMap" type="com.jian.pojo.Module">
        <id property="moduleId" column="module_id"/>
        <result property="moduleName" column="module_name" />
        <result property="moduleSize" column="module_size" />
    </resultMap>

    <select id="getTeacherByModuleId" resultMap="TeacherResultMap">
        select * from teacher where teacher_id in (select teacher_id from module where module_id = #{moduleId})
    </select>

    <resultMap id="TeacherResultMap" type="com.jian.pojo.Teacher" >
        <id property="teacherId" column="teacher_id" />
        <result property="password" column="password" />
    </resultMap>

    <select id="getStudentsByModuleId" resultType="java.lang.String">
        select student_id from student_module_link where module_id = #{moduleId}
    </select>

    <select id="getModuleTeacher" resultMap="ModuleResultMap">
        select * from module where teacher_id=#{teacherId}
    </select>

    <select id="getTeamByModule" resultType="java.lang.Integer">
        select team_id from team where module_id=#{moduleId}
    </select>

    <select id="getStudent" resultType="java.lang.String">
        select student_id from student_module_link where module_id=#{moduleId}
    </select>
    <select id="getAllModule" resultMap="ModuleResultMap">
        select * from module
    </select>
</mapper>