<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jian.dao.StudentDao">

    <delete id="deleteModuleByStudentId">
        delete from student_module_link where student_id = #{arg0} and module_id = #{arg1};
    </delete>

    <delete id="deleteStudentInTeam">
        delete from student_team_link where team_id in (select team_id from team where module_id = #{arg1}) and student_id = #{arg0}
    </delete>

    <delete id="deleteStudentInTask">
        delete from task_student_link where task_id in (select task_id from task where team_id in (select team_id from team where module_id = #{arg1})) and student_id = #{arg0}
    </delete>
    <!--    id就是方法名字-->
    <!--    Type是类型只有一个，Map是一个list-->

    <select id="getUnCompletedTaskIdList"  resultType="java.lang.Integer">
        select task_student_link.task_id from task_student_link join task on task.task_id = task_student_link.task_id where student_id = #{arg0} and task.completed = #{arg1}
    </select>


    <select id="getModuleList"  resultType="java.lang.Integer">
        select * from student_module_link where student_id=#{studentId}
    </select>

<!--    this colomn called student_link, but it's fine to change the input parameter as studentId-->
    <select id="getTeamList"  resultType="java.lang.Integer">
        select student_team_link.team_id from student_team_link where student_team_link.student_id=#{studentId}
    </select>

    <select id="getStudent"  resultMap="StudentResultMap">
        select * from student where student_id=#{studentId}
    </select>

    <resultMap id="StudentResultMap" type="com.jian.pojo.Student">
        <id property="studentId" column="student_id"/>
        <result property="password" column="password" />
        <result property="studentInfo" column="info"/>
        <result property="userIconSrc" column="user_icon_src" />
    </resultMap>

    <select id="getStduentNoPwd" resultMap="StudentNoPwdMap" >
        select student_id,info,user_icon_src from student where student_id = #{studentId}
    </select>

    <resultMap id="StudentNoPwdMap" type="com.jian.pojo.Student">
        <id property="studentId" column="student_id"/>
        <result property="studentInfo" column="info"/>
        <result property="userIconSrc" column="user_icon_src" />
    </resultMap>

    <select id="getStudentPwd" resultType="String">
        select password from student where student_id=#{studentId}
    </select>
    <select id="getVoteName" resultType="java.lang.String">
        select vote_leader from student_team_link where student_id=#{arg0} and team_id = #{arg1}
    </select>
    <select id="getVoteNumber" resultType="java.lang.Integer">
        select count(*) from student_team_link where vote_leader=#{arg0} and team_id = #{arg1}
    </select>

    <insert id="addStudent" parameterType="com.jian.pojo.Student">
        insert into student values (#{studentId},#{password},#{studentInfo},#{userIconSrc})
    </insert>

    <insert id="addTeam" >
        insert into student_team_link(student_id, team_id) values(#{studentId},#{teamId})
    </insert>

    <insert id="addModule" >
        insert into student_module_link(module_id, student_id) values(#{arg1},#{arg0})
    </insert>

    <update id="setStudentNoPwd">
        update student
        <set>
            <if test="#{arg0} != null">student_id=#{arg0},</if>
            <if test="#{arg1} != null">info=#{arg1}</if>
        </set>
        where student_id= #{arg2}
    </update>
    <update id="voteLeader">
        update student_team_link
        <set>
            vote_leader = #{arg2}
        </set>
        where team_id = #{arg0} and student_id = #{arg1}
    </update>
    <update id="resetVote">
        update student_team_link
        <set>
            vote_leader = ""
        </set>
        where team_id = #{arg0} and student_id = #{arg1}
    </update>
    <update id="updateLeader">
        update team
        <set>
            leader_id = #{arg1,jdbcType=VARCHAR}
        </set>
        where team_id = #{arg0}
    </update>
</mapper>