<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jian.dao.TaskDao">
    <!--    id就是方法名字-->
    <!--    Type是类型只有一个，Map是一个list-->

    <select id="getTask" resultMap="taskResultMap">
        select * from task where task_id=#{taskId}
    </select>

    <resultMap id="taskResultMap" type="com.jian.pojo.Task">
        <id property="taskId" column="task_id"/>
        <result property="taskName" column="task_name" />
        <result property="context" column="content"/>
        <result property="deadline" column="deadline"/>
        <result property="teamId" column="team_id"/>

    </resultMap>

    <select id="getStudentList" resultMap="studentResultMap">
    select * from student where student_id=(select student_id from task_student_link where task_id=#{taskId})
    </select>

    <resultMap id="studentResultMap" type="com.jian.pojo.Student">
        <id property="studentId" column="member_id"/>
        <result property="password" column="password"/>
        <result property="studentInfo" column="info"/>
    </resultMap>

    <insert id="addTask" parameterType="com.jian.pojo.Task">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="taskId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into task(content, deadline, team_id, task_name) values  (#{context},#{deadline},#{teamId},#{taskName})
    </insert>

    <insert id="addTaskStudent" >
        insert into task_student_link(student_id, task_id, progress) values  (#{studentId},#{taskId},0)
    </insert>

    <select id="getTaskProgress" resultType="java.lang.Integer">
        select progress from task_student_link where student_id=#{studentId} and task_id=#{taskId}
    </select>
</mapper>