<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jian.dao.TeacherDao">
    <!--    id就是方法名字-->
    <!--    Type是类型只有一个，Map是一个list-->

    <select id="getTeacherPwd" resultType="String">
        select password from teacher where teacher_id=#{teacherId}
    </select>

    <select id="getTeacher"  resultMap="TeacherResultMap">
        select * from teacher where teacher_id=#{teacherId}
    </select>

    <resultMap id="TeacherResultMap" type="com.jian.pojo.Teacher">
        <id property="teacherId" column="teacher_id"/>
        <result property="password" column="password" />

    </resultMap>

</mapper>