<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jian.dao.TeamDao">
    <!--    id就是方法名字-->
    <!--    Type是类型只有一个，Map是一个list-->


    <select id="getTask" resultType="java.lang.Integer">
        select task.task_id
        from task
                 inner join task_student_link on task.task_id = task_student_link.task_id
        where team_id = #{arg0}
          and student_id = #{arg1}
    </select>

    <select id="isLeader" resultType="String">
        select leader_id
        from team
        where team_id = #{teamId}
    </select>

    <select id="getTeam" resultType="java.lang.Integer">
        select team_id
        from student_team_link
        where student_id = #{studentId}
    </select>

    <insert id="addTeam" useGeneratedKeys="true" keyProperty="teamId" keyColumn="team_id">
        insert into team(leader_id, module_id, team_name)
        values (#{leaderId}, #{moduleId}, #{teamName})
    </insert>
    <insert id="joinTeam">
        insert into student_team_link(student_id, team_id) values (#{arg0},#{arg1})
    </insert>

    <select id="getTaskList" resultType="java.lang.Integer">
        select task_id
        from task
        where team_id = #{arg0} and completed=#{arg1}
    </select>

    <select id="getTeamById" resultMap="teamResultMap">
        select *
        from team
        where team_id = #{teamId}
    </select>

    <resultMap id="teamResultMap" type="com.jian.pojo.Team">
        <id property="teamId" column="team_id"/>
        <result property="teamName" column="team_name"/>
        <result property="moduleId" column="module_id"/>
        <result property="leaderId" column="leader_id"/>
    </resultMap>

    <select id="getTeammate" resultType="java.lang.String">
        select student_id from student_team_link where team_id=#{teamId}
    </select>
    <select id="getTeamNum" resultType="java.lang.Integer">
        select team_num from module where module_id = (select module_id from team where team_id = #{teamId})
    </select>

</mapper>