<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <import resource="classpath:spring/springmvc-pojo.xml" />
    <import resource="classpath:spring/springmvc-mvc.xml" />
    <import resource="classpath:spring/springmvc-filter.xml" />
    <import resource="classpath:spring/springmvc-dao.xml" />
    <import resource="classpath:spring/springmvc-service.xml" />
    <import resource="classpath:spring/springmvc-config.xml" />
<!--    <import resource="classpath:spring/springmvc-websocket.xml" />-->
</beans>